*{
	margin: 0;
	bottom: 0;
}

$grey_color: #888888;


.active{
	opacity: 1;
	bottom: 20px;
}

.unactive{
	opacity: 0;
	bottom: 0px;
}

.ctrlPanel{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ctrlBtn{
	height: 40px;
	width: 40px;
	background: white;
	border-radius: 20px;
	position: absolute;
	display: flex;
	justify-content: center;
	transform: translateX(-50%);
	align-items: center;
	color: #888888;
	border: none;
	cursor: pointer;
	transition: .2s ease bottom, .2s ease opacity, .2s ease background, .2s ease color;
	&:hover{
		background: red;
		color: white;
	}
}

.first{
	left: 30%;
}

.second{
	left: 50%;
}

.third{
	left: 70%;
}

.addProduct{
	height: 12px;
	width: 60px;
	background: green;
	margin: 30px;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	transition: transform .2s ease;
	&:after{
		content: "";
		height: 60px;
		width: 12px;
		background: green;
		position: absolute;
		left: 24px;
		bottom: -24px;
		border-radius: 5px;
		cursor: pointer;
		transition: transform .2s ease;
	}
}

.addProductA{
	transform: rotate(45deg);
	background: red;
	&:after{
		background: red;
	}
}

.addForm{
	margin-left: -260px;
	transition: margin-left .2s ease;
}

.inputs{
	border: 2px solid #787878;
	padding: 10px;
	width: 220px;
	margin: 10px 0;
	border-radius: 5px;
}

form{
	p{
		&:first-child{
			margin-top: 10px;
			padding-top: 10px;
		}
		padding-left: 10px;
		font-weight: 700;
		text-transform: capitalize;
	}
}

.stars{
	margin: 10px;
}

.formBtn{
	background: #878787;
	margin: 10px;
	border: 0px;
	height: 40px;
	width: 125px;
	color: #f1f1f1;
	border-radius: 2px;
	cursor: pointer;
	font-size: 15px;
}